{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col-md-8">
    <h1>Список товаров</h1>
    {% for product in products %}
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">{{ product.title }}</h5>
        <p class="card-text">{{ product.description }}</p>
        <a href="{% url 'posting:product_detail' product.pk %}" class="btn btn-primary">Подробнее</a>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="col-md-4">
    <h2>Фильтр товаров</h2>

    <h3>Добавить товар</h3>
    <form method="POST" action="{% url 'posting:product_create' %}">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Добавить</button>
    </form>
  </div>
</div>
{% endblock %}
